      span {
            color: #EDEDED;
      }
      span2 {
            color: #EEFCA9;
      }
      span3 {
             color: red;
      }
      span4 {
             color: black;
      }
      span5 {
             color: #D6B1A6;
      }
      span6 {
             color: #E25DA9;
      }
      span7 {
             color: #848484;
      }
      span8 {
             color: #059CE5;
      }
      span9 {
             color: #B8B8B8;
      }
